@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  }


  }
  html{
  font-family: "Jost", sans-serif;
  overflow-x: hidden
  } 


@layer components {

  /* arrowup */
  .arrowUpHome{
    @apply bg-title-gray text-white z-max fixed bottom-[5%] right-[4%]  rounded-full p-1 cursor-pointer
  }

  /* Home Swiper */
  .homeSwiper{
    @apply container max-w-[1800px]  mb-4 mt-2;
  }

  .swiper-1,.swiper-2{
    @apply w-full  h-[31rem] lg:h-[38rem] xl:h-[67vh]
  }

  .swiper-text{
    @apply md:absolute md:-top-[4rem]   md:left-16 p-1 text-lg
           flex items-center justify-center flex-col h-full
          -translate-y-11 md:-translate-y-0 lg:top-0 lg:-translate-y-20 px-2 md:px-0
  }

  .swiper-header{
    @apply text-white text-4xl text-center w-full
               md:text-left  lg:text-5xl lg:leading-[3.4rem]
  }

  .swiperDesc{
    @apply text-[#e8e6e6] md:text-title-gray text-center md:text-left text-2xl pt-5
  }

  .shopButton_container{
    @apply flex justify-center  md:justify-start  w-full
  }

  .shopButton{
    @apply bg-white px-10 py-[.64rem] text-black text-xl mt-8
  }



  /* Home Swiper */

  .flex-col-jbtw-istart{
    @apply flex flex-col justify-between items-start
  }

  .flex-istart-jbetween{
    @apply flex items-start justify-between
  }
  

  .flexCol-iStart-jStart{
    @apply flex flex-col items-start justify-start
  }

  .ul_mobile_nav  li   {
    @apply w-full relative p-2 
  }
    .ul_mobile_nav     {
    @apply container 
  }

  /* Grid Show Cases */
.shop_now:hover::after,.blog_button:hover::after {
  @apply w-0 -translate-x-[101%] ;
  transition: all 0.4s 0.2s ease-out, transform 1s 0.4s ease-out;
}
.shop_now:hover::before,.blog_button:hover::before {
  transition: all .8s   ease-out, transform .6s .7s ease-out;
}

 .shop_now:hover::before,.blog_button:hover::before {
  @apply transition-transform duration-[600ms] delay-700 ease-out ;
}

.shop_now{
  @apply    after:group-hover:-translate-x-[101%] after:group-hover:w-0
            after:group-hover:transition-all after:group-hover:duration-[400ms]
            after:group-hover:delay-200 after:group-hover:ease-out

            before:group-hover:w-full before:group-hover:translate-x-0
            before:group-hover:duration-[800ms] before:group-hover:delay-[400ms]
            before:group-hover:ease-out
     
} 
.blog_button{
  @apply
                  after:group-hover:-translate-x-full after:group-hover:duration-[400ms]
                after:group-hover:delay-[200ms] after:group-hover:ease-out

                before:group-hover:translate-x-0 before:group-hover:duration-[800ms]
                before:group-hover:delay-[400ms] before:group-hover:ease-out
}

/* Featured Products */
.appearList{
  @apply opacity-100 duration-500 translate-y-0 visible
}
.disappearList{
  @apply opacity-0 duration-500 translate-y-10 hidden
}

/* Grid Show Case */
.items{
  @apply   overflow-hidden relative
}
.gridShowCase_img{
  @apply  w-full group-hover:scale-110 duration-300
  /* w-full h-full object-cover */
}
.gridShowCase-title{
  @apply uppercase font-light text-base
}
.gridShowCase-button{
  @apply uppercase  text-base relative overflow-hidden

}
/* Grid Show Case */



/* Footer */
.footer-list{
  @apply flex items-start flex-col gap-3 pt-3 text-base
}

}

.ul_mobile_nav li::after{
  content: '';
  position: absolute;
  bottom: -2.5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: gray;

}