@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  }


  }
  html{
  font-family: "Jost", sans-serif;

  } 


@layer components {
  .ul_mobile_nav  li   {
    @apply w-full relative p-2 
  }
    .ul_mobile_nav     {
    @apply container 
  }

  /* Grid Show Cases */
.shop_now:hover::after {
  @apply w-0 -translate-x-[101%] ;
  transition: all 0.4s 0.2s ease-out, transform 1s 0.4s ease-out;
}
.shop_now:hover::before:hover{
  transition: all .8s   ease-out, transform .6s .7s ease-out;
}

 .shop_now:hover::before {
  @apply transition-transform duration-[600ms] delay-700 ease-out ;
}

.shop_now{
  @apply    after:group-hover:-translate-x-[101%] after:group-hover:w-0
            after:group-hover:transition-all after:group-hover:duration-[400ms]
            after:group-hover:delay-200 after:group-hover:ease-out

            before:group-hover:w-full before:group-hover:translate-x-0
            before:group-hover:duration-[800ms] before:group-hover:delay-[400ms]
            before:group-hover:ease-out


} 



}

.ul_mobile_nav li::after{
  content: '';
  position: absolute;
  bottom: -2.5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: gray;

}